In [1]:
import vaex

df = vaex.open("awesomebook/data/reserve.csv")

df[['reserve_id', 'hotel_id', 'customer_id', 'reserve_datetime']]

#      reserve_id    hotel_id    customer_id    reserve_datetime
0      r1            h_75        c_1            2016-03-06 13:09:42
1      r2            h_219       c_1            2016-07-16 23:39:55
2      r3            h_179       c_1            2016-09-24 10:03:17
3      r4            h_214       c_1            2017-03-08 03:20:10
4      r5            h_16        c_1            2017-09-05 19:50:37
...    ...           ...         ...            ...
4,025  r4026         h_129       c_999          2017-06-27 23:00:02
4,026  r4027         h_97        c_999          2017-09-29 05:24:57
4,027  r4028         h_27        c_999          2018-03-14 05:01:45
4,028  r4029         h_48        c_1000         2016-04-16 15:20:17
4,029  r4030         h_117       c_1000         2016-06-06 08:16:51

In [36]:
# change to datetime
df['checkin_date'] = df['checkin_date'].astype('datetime64')

# 範囲で抽出
df[('2016-10-13' <= df.checkin_date) & (df.checkin_date <= '2016-10-14')]

#    reserve_id    hotel_id    customer_id    reserve_datetime     checkin_date                   checkin_time    checkout_date    people_num    total_price
0    r48           h_299       c_8            2016-10-05 08:53:39  2016-10-14 00:00:00.000000000  09:30:00        2016-10-16       1             48400
1    r328          h_48        c_76           2016-10-11 15:51:25  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       4             360000
2    r960          h_215       c_237          2016-09-19 05:51:20  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       4             123200
3    r1226         h_176       c_300          2016-09-19 22:11:19  2016-10-14 00:00:00.000000000  09:30:00        2016-10-16       4             139200
4    r1961         h_244       c_486          2016-09-19 03:05:50  2016-10-14 00:00:00.000000000  12:00:00        2016-10-15       1             9900
...  ...           ...         ...            ...                  ...                            ...             ...              ...           ...
10   r3381         h_110       c_844          2016-09-17 17:44:02  2016-10-13 00:00:00.000000000  12:30:00        2016-10-15       1             52800
11   r3400         h_20        c_848          2016-09-17 12:18:15  2016-10-14 00:00:00.000000000  11:00:00        2016-10-15       3             21300
12   r3444         h_14        c_859          2016-10-03 17:26:00  2016-10-13 00:00:00.000000000  12:30:00        2016-10-15       3             46200
13   r3461         h_105       c_863          2016-09-22 14:42:06  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       1             20600
14   r3694         h_270       c_919          2016-09-27 07:26:21  2016-10-14 00:00:00.000000000  09:00:00        2016-10-16       1             16600

In [42]:
# サンプリング https://vaex.io/docs/api.html?highlight=sample#vaex.dataframe.DataFrame.sample
df.sample(frac=0.5)

#      reserve_id    hotel_id    customer_id    reserve_datetime     checkin_date                   checkin_time    checkout_date    people_num    total_price
0      r3789         h_209       c_942          2017-01-05 16:58:49  2017-01-08 00:00:00.000000000  12:30:00        2017-01-09       1             17200
1      r648          h_167       c_154          2018-05-27 10:41:56  2018-06-06 00:00:00.000000000  10:00:00        2018-06-09       2             167400
2      r616          h_264       c_149          2016-01-11 10:46:10  2016-01-22 00:00:00.000000000  10:00:00        2016-01-23       4             52400
3      r3464         h_111       c_863          2018-01-25 01:03:06  2018-01-31 00:00:00.000000000  10:00:00        2018-02-02       1             87200
4      r745          h_83        c_180          2016-05-18 03:34:18  2016-05-31 00:00:00.000000000  09:00:00        2016-06-01       4             248800
...    ...           ...         ...            ...                  ...                            ...             ...              ...           ...
2,010  r3679         h_192       c_916          2016-04-15 13:54:59  2016-04-24 00:00:00.000000000  12:00:00        2016-04-27       3             135000
2,011  r3457         h_234       c_862          2017-09-20 11:36:34  2017-10-13 00:00:00.000000000  10:00:00        2017-10-15       1             11200
2,012  r802          h_254       c_195          2016-05-15 01:27:40  2016-06-04 00:00:00.000000000  10:30:00        2016-06-07       1             15000
2,013  r3223         h_97        c_808          2017-05-05 16:06:15  2017-05-20 00:00:00.000000000  09:00:00        2017-05-21       4             83600
2,014  r1315         h_198       c_321          2017-04-06 02:49:10  2017-04-07 00:00:00.000000000  10:30:00        2017-04-10       1             57900

In [50]:
# 集約IDごとのサンプリング
import pandas as pd

# 顧客の中から複数人選ばない選び方
target = pd.Series(df.unique('customer_id')).sample(frac=0.5)

# 選ばれた50%の顧客のデータだけを取り出す
df[df.customer_id.isin(target)]

#      reserve_id    hotel_id    customer_id    reserve_datetime     checkin_date                   checkin_time    checkout_date    people_num    total_price
0      r17           h_115       c_3            2016-05-10 12:20:32  2016-05-17 00:00:00.000000000  10:00:00        2016-05-19       2             164000
1      r18           h_132       c_3            2016-10-22 02:18:48  2016-11-12 00:00:00.000000000  12:00:00        2016-11-13       1             20400
2      r19           h_23        c_3            2017-01-11 22:54:09  2017-02-08 00:00:00.000000000  10:00:00        2017-02-10       3             390600
3      r20           h_292       c_3            2017-02-23 07:10:30  2017-03-03 00:00:00.000000000  11:00:00        2017-03-04       2             18200
4      r21           h_153       c_3            2017-04-06 18:12:10  2017-04-16 00:00:00.000000000  09:00:00        2017-04-19       3             126900
...    ...           ...         ...            ...                  ...                            ...             ...              ...           ...
2,046  r4026         h_129       c_999          2017-06-27 23:00:02  2017-07-10 00:00:00.000000000  09:30:00        2017-07-11       2             16000
2,047  r4027         h_97        c_999          2017-09-29 05:24:57  2017-10-09 00:00:00.000000000  10:30:00        2017-10-10       2             41800
2,048  r4028         h_27        c_999          2018-03-14 05:01:45  2018-04-02 00:00:00.000000000  11:30:00        2018-04-04       2             74800
2,049  r4029         h_48        c_1000         2016-04-16 15:20:17  2016-05-10 00:00:00.000000000  09:30:00        2016-05-13       4             540000
2,050  r4030         h_117       c_1000         2016-06-06 08:16:51  2016-07-06 00:00:00.000000000  09:00:00        2016-07-09       1             44100