In [1]:
import vaex

df = vaex.open("awesomebook/data/reserve.csv")

df[['reserve_id', 'hotel_id', 'customer_id', 'reserve_datetime']]

#      reserve_id    hotel_id    customer_id    reserve_datetime
0      r1            h_75        c_1            2016-03-06 13:09:42
1      r2            h_219       c_1            2016-07-16 23:39:55
2      r3            h_179       c_1            2016-09-24 10:03:17
3      r4            h_214       c_1            2017-03-08 03:20:10
4      r5            h_16        c_1            2017-09-05 19:50:37
...    ...           ...         ...            ...
4,025  r4026         h_129       c_999          2017-06-27 23:00:02
4,026  r4027         h_97        c_999          2017-09-29 05:24:57
4,027  r4028         h_27        c_999          2018-03-14 05:01:45
4,028  r4029         h_48        c_1000         2016-04-16 15:20:17
4,029  r4030         h_117       c_1000         2016-06-06 08:16:51

In [36]:
# change to datetime
df['checkin_date'] = df['checkin_date'].astype('datetime64')

import numpy as np
start_date=np.datetime64()

# 範囲で抽出
df[('2016-10-13' <= df.checkin_date) & (df.checkin_date <= '2016-10-14')]

#    reserve_id    hotel_id    customer_id    reserve_datetime     checkin_date                   checkin_time    checkout_date    people_num    total_price
0    r48           h_299       c_8            2016-10-05 08:53:39  2016-10-14 00:00:00.000000000  09:30:00        2016-10-16       1             48400
1    r328          h_48        c_76           2016-10-11 15:51:25  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       4             360000
2    r960          h_215       c_237          2016-09-19 05:51:20  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       4             123200
3    r1226         h_176       c_300          2016-09-19 22:11:19  2016-10-14 00:00:00.000000000  09:30:00        2016-10-16       4             139200
4    r1961         h_244       c_486          2016-09-19 03:05:50  2016-10-14 00:00:00.000000000  12:00:00        2016-10-15       1             9900
...  ...           ...         ...            ...                  ...                            ...             ...              ...           ...
10   r3381         h_110       c_844          2016-09-17 17:44:02  2016-10-13 00:00:00.000000000  12:30:00        2016-10-15       1             52800
11   r3400         h_20        c_848          2016-09-17 12:18:15  2016-10-14 00:00:00.000000000  11:00:00        2016-10-15       3             21300
12   r3444         h_14        c_859          2016-10-03 17:26:00  2016-10-13 00:00:00.000000000  12:30:00        2016-10-15       3             46200
13   r3461         h_105       c_863          2016-09-22 14:42:06  2016-10-14 00:00:00.000000000  11:00:00        2016-10-16       1             20600
14   r3694         h_270       c_919          2016-09-27 07:26:21  2016-10-14 00:00:00.000000000  09:00:00        2016-10-16       1             16600